* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
  cursor: pointer;
}
body {
  font-family: "Noto IKEA", "Noto Sans", "Noto Sans KR", "Roboto", "Open Sans",
    -apple-system, sans-serif !important;
}
button,
input,
i,
a {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

/*black bar*/
.close {
  display: flex;
  align-items: center;
}
.close h5 {
  position: absolute;
  left: 15px;
  cursor: pointer;
}
.black-bar {
  display: flex;
  justify-content: center;
  background-color: #111;
}
.black-bar ul {
  display: flex;
}
.black-bar li {
  display: flex;
  align-items: baseline;
  margin: 8px 37px;
}
.close h5,
.black-bar i,
.black-bar p {
  color: #fff;
  font-size: 0.8rem;
}
.black-bar p {
  margin: 0 6px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
  align-items: baseline;
}
.header-left ul {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.header-left li {
  padding: 0 20px;
}
.left-logo span {
  font-size: 4rem;
  font-weight: bold;
}

.header-right {
  display: flex;
}
.header-right ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 30px;
  align-items: baseline;
}
.header-right li {
  padding: 0 8px;
}
.header-right span {
  font-size: 0.8rem;
}

.main-search-input {
  border-bottom: 1px solid #111;
  padding: 3px 5px;
}
/*popup-left-menu*/
.popup-left-menu {
  display: none;
}
.left-menu-show {
  display: flex;
  justify-content: flex-start;
  margin: 18px 0;
  padding: 20px;
  z-index: 6;
  position: absolute;
  top: 100px;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.548);
}
.popup-left-menu ul {
  padding: 0 53px;
}
.popup-left-menu li {
  margin: 2px 0;
}
.popup-left-menu h4 {
  margin-bottom: 10px;
}
.popup-left-menu span {
  font-size: 0.8rem;
  color: rgb(84, 84, 84);
}
.popup-menu-img img {
  width: 350px;
}
.popup-img-contents {
  position: absolute;
}
.popup-img-contents p {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 100px;
}
.popup-menu-detail li {
  display: flex;
  justify-content: center;
}
.popup-left-menu span:hover {
  color: #111;
}

/*slide*/
.slide_wrap {
  position: relative;
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
  display: block;
  margin-bottom: 60px;
}
.slide_box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slide-img {
  display: table;
  float: left;
  width: 1280px;
  height: 400px;
}

.slide-img img {
  width: 100%;
}
.slide_btn_box {
  /* display: flex; */
  display: none;
}
.slide_btn_prev,
.slide_btn_next {
  position: absolute;
  top: 36%;
  font-size: 3rem;
  margin: 20px;
  /* z-index: 99; */
  display: block;
}
/*01111111*/
.section01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
  background: #e6e6e6;
}
.favorite {
  font-size: 1rem;
  color: rgba(153, 153, 153, 0.5);
  display: block;
  height: 0px;
  padding-top: 12px;
  position: relative;
  width: 90%;
  text-align: right;
  /* background: #e6e6e6; */
}
.favorite:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(153, 153, 153, 0.783);
}
.black {
  color: #111;
}

.small-img ul {
  width: 1080px;
  display: flex;
  overflow-x: auto;
}
.small-img ul::-webkit-scrollbar {
  height: 0.125rem;
}
.small-img ul::-webkit-scrollbar-thumb {
  background-color: #111; /*스크롤바의 색상*/
  width: 0.125rem;
}
.small-img ul::-webkit-scrollbar-track {
  background: #dfdfdf;
}
.small-img li {
  margin-right: 3px;
}
.small-img img {
  width: 360px;
}
.small-img span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-shopping-bag {
  margin-right: 7px;
}
.shopping-bag {
  font-size: 0.8rem;
  color: rgb(55, 55, 55);
  margin-bottom: 20px;
}
.small-img h2 {
  margin-top: 20px;
}
/*sec2*/
.section02 {
  display: flex;
  width: 100%;
  margin: 70px 0;
  margin-bottom: 150px;
}
.header-h {
  margin-left: 102px;
  margin-bottom: 10px;
}

.life-img img {
  width: 100%;
}
.life-contents {
  display: flex;
  /* justify-content: space-around; */
  position: absolute;
}
.life-content-span {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}
.life-content-span:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.life-hover {
  width: 100%;
}
.note {
  border: 4px solid #fff;
  background-color: #111;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 355px;
}
.case {
  border: 4px solid #fff;
  background-color: #111;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  left: 121%;
  top: 170px;
}
.memo {
  border: 4px solid #fff;
  background-color: #111;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  left: 67%;
  top: -12px;
}
.note-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.644);
  width: 117px;
  height: 100px;
  position: relative;
  box-shadow: 3px 3px 11px rgba(17, 17, 17, 0.349);
  left: 43%;
  top: 221px;
}
.notetag:hover ~ .note-content {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.644);
  width: 117px;
  height: 100px;
  position: relative;
  box-shadow: 3px 3px 11px rgba(17, 17, 17, 0.349);
  left: 43%;
  top: 221px;
  border-radius: 0;
}
.case-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.644);
  width: 117px;
  height: 100px;
  position: relative;
  box-shadow: 3px 3px 11px rgba(17, 17, 17, 0.349);
  left: 114%;
  top: 36px;
}
.casetag:hover ~ .case-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.644);
  width: 117px;
  height: 100px;
  position: relative;
  box-shadow: 3px 3px 11px rgba(17, 17, 17, 0.349);
  left: 114%;
  top: 36px;
  opacity: 1;
  border-radius: 0;
}
.memo-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.644);
  width: 117px;
  height: 100px;
  position: relative;
  box-shadow: 3px 3px 11px rgba(17, 17, 17, 0.349);
  left: 60%;
  top: -140px;
}
.memotag:hover ~ .memo-content {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.644);
  width: 117px;
  height: 100px;
  position: relative;
  box-shadow: 3px 3px 11px rgba(17, 17, 17, 0.349);
  left: 60%;
  top: -140px;
  border-radius: 0;
  padding: 0 3px;
}
/*0000033333*/
.section03 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.woman-contents,
.man-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.woman-contents span,
.man-contents span {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
}
.for-man,
.for-woman {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  /* width: 100%; */
  width: 1280px;
  background-attachment: fixed;
  background-size: cover;
}
.for-woman {
  background-image: url("https://media.gucci.com/content/HeroRegularStandard_3200x1350/1622674809/HeroRegularStandard_OUVERTURE-21-005_001_Default.jpg");
  margin-bottom: 15px;
}
.for-man {
  background-image: url("https://media.gucci.com/content/PromoComponent_Standard_1264x790/1620036005/PromoComponent_OUVERTURE-21-050_001_Default.jpg");
}
.woman-shortcut,
.man-shortcut {
  color: #fff;
  padding: 5px 10px;
  width: 100px;
  border: 2px solid transparent;
  background-color: #111;
  margin-top: 20px;
}
/*section04444444444*/
.section04 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.delivery-header {
  margin-top: 70px;
}
.box {
  border: 1px solid transparent;
  /* flex: 1 1 auto; */
  background-color: #eeebeb;
  width: 283px;
  height: 200px;
  margin-right: 4px;
}
.box span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box span:first-child {
  margin: 6px 0;
  margin-top: 29px;
}
.box span:nth-child(3) {
  font-size: 0.86rem;
  padding: 5px 25px;
}
.box span:last-child {
  text-decoration: underline;
  margin-top: 20px;
}

/*top*/

#top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 300ms ease;
  pointer-events: none;
  cursor: pointer;
}

#top.visible {
  opacity: 1;
  pointer-events: auto;
}
/*fffffffff*/
.multiline-text,
.link-list a,
.social-p,
.social i {
  color: #e6e6e6;
}
footer {
  border-top: 1px solid #dfdfdf;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 90rem;
  padding: 1.875rem;
  background-color: rgb(43, 42, 42);
}
.footer-block {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 20.3125rem;
  min-width: 12.5rem;
}
.letter-title {
  font-size: 0.9375rem;
  line-height: 3.25rem;
}
.multiline-text {
  word-break: normal;
}
.newsletter-field-subtitle {
  margin: 0 0.9375rem 0.9375rem;
  font-size: 0.75rem;
  text-align: center;
  color: #757575;
  width: 100%;
}
.content {
  display: inline-flex;
  width: 100%;
  border: 0.0625rem solid #dfdfdf;
  border-radius: 3.75rem;
  justify-content: space-between;
  color: #fff;
}
.text-input {
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 3.75rem 0 0 3.75rem;
}
.input {
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.button-link {
  border-radius: 0 3.75rem 3.75rem 0;
  background-color: #111;
  width: 25%;
  color: #fff;
}
.link-list {
  text-align: center;
  line-height: 2rem;
  font-size: 0.87rem;
  text-decoration: underline;
}
.link-list li:hover {
  font-weight: bold;
}
.social-p {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}
.social ul {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #757575;
}
.social li {
  margin: 25px 30px;
}
.footer-bottom-notice {
  margin: 26px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.footer-bottom-notice span {
  font-size: 0.7rem;
  color: #757575;
}
/*media none*/
.dv-media-login,
.popup-dv-input {
  display: none;
}
